/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100%;
    overflow: auto;
}

/* Navigation Bar */
.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff !important;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
    color: #ffcc00 !important;
}

/* Carousel */
.carousel-inner img {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.carousel-inner img:hover {
    transform: scale(1.02);
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #222;
}

/* Services */
#services-container {
    display: flex;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    height: 80vh;
    justify-content: space-between;
}

#services-description {
    padding: 5vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services-description h2 {
    font-size: 24px;
    color: #333;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#services-description p {
    font-size: 16px;
    color: #666;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#services-description h2.active,
#services-description p.active {
    opacity: 1;
    transform: translateY(0);
}

#services-description h2:hover {
    color: #ffcc00;
    text-shadow: 10px rgba(90, 85, 66, 0.4);
    transition: color 0.2s ease-in-out, text-shadow 0.3s ease-in-out;
    cursor: context-menu;
}

#services-description p:hover {
    color: #444; 
    cursor: context-menu;
}

#services-carousel {
    width: 50%;
    overflow-y: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    scrollbar-width: none;
}

.services-carousel::-webkit-scrollbar {
    display: none;
}

.service-card {
    position: absolute;
    padding-top: 10px;
    width: 15vw;
    height: 25vh;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.2; 
}

.service-card.active {
    opacity: 1;
}

#services img, #portfolio img {
    border-radius: 10px;
    transition: transform 0.3s;
    height: 100%;
    width: 100%;
}

#services img:hover, #portfolio img:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #222;
    padding: 20px;
    color: #fff;
    margin-top: 40px;
}

footer p {
    margin: 5px 0;
}

footer p:hover {
    color: #ffcc00;
    cursor: pointer;
}

/* Back to top */
#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;
}

#backToTop:hover {
    background: #555;
    opacity: 0.8;
}

/* Typewriter Animation */
.typewriter {
    display: flex;
    justify-content: center;
}

.typewriter h1 {
    font-size: 2rem;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid black;
    animation: blink 0.7s step-end infinite;
    opacity: 0;
}

.no-cursor {
    border-right: none !important;
    animation: none !important;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Responsive */
@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
    .navbar-nav .nav-link {
        font-size: 1rem;
    }
    #services-container {
        flex-direction: column;
        height: 70vh;
        width: 100%;

    }
    #services-carousel {
        width: 100%;
        height: 60%;
    }
    #services-description {
        width: 100%;
        height: 40%;
        align-items: center;
        justify-content: flex-start;
        padding: 3vh;
    }
    .service-card {
        height: 40%;
        width: 40%;
    }
}
